.input-search {
  @include fluid-width(290px, 700px);
  
  display: flex;
  align-items: center;
  
  background: rgba(0, 5, 5, 0.5);
  
  box-shadow: -0.5px 0px 0 $var-color-white, 0.5px 0px 0 $var-color-white, 0px -0.5px 0 $var-color-white, 0px 0.5px 0.5px $var-color-white;
  backdrop-filter: blur(25px);
  border-radius: 5px;
  
  transition: box-shadow .25s ease-in-out;
}
@media (hover: hover) {
  .input-search:hover {
    box-shadow: -1px 0px 0 $var-color-columbia-blue, 1px 0px 0 $var-color-columbia-blue, 0px -1px 0 $var-color-columbia-blue, 0px 1px 1px $var-color-columbia-blue;
  }
}