.game-card {
  @include fluid-width(212px, 320px);
  @include fluid-height(280px, 420px);
  @include fluid-max-height(280px, 420px);
  
  position: relative;
  
  display: flex;
  overflow-y: hidden;
  
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  
  box-shadow: 0.5px 0.5px 0 $var-color-white, -0.5px -0.5px 0 $var-color-white;
  border-radius: 5px;
  cursor: pointer;
  
  transition: box-shadow .25s ease-in-out, background-image .5s ease-in-out;
}
.game-card::before {
  position: absolute;
  
  content: "";
  
  width: 100%;
  height: 100%;
  
  background-color: rgba(0, 0, 0, 0.5);
  
  z-index: $var-z-index-normal;
  
  transition: background-color .25s ease-in-out;
}
@media (hover: hover) {
  .game-card:hover {
    box-shadow: 1px 1px 0 $var-color-columbia-blue, -1px -1px 0 $var-color-columbia-blue;
  }
  .game-card:hover::before {
    background-color: rgba(0, 0, 0, 0.25);
  }
  
  .game-card:hover > .game-card__inner > .game-card__info > .game-card__column > .game-card__row > .game-card__buy {
    display: none;
  }
  
  .game-card:hover > .game-card__inner > .game-card__badges {
    display: none;
  }
  
  .game-card:hover > .game-card__inner > .game-card__info > .game-card__column > .hidden {
    opacity: 1;
    
    max-height: 1000px;
  }
}