.unit__inner_last {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: $var-step * 4 $var-step * 4 $var-step * 8;
  gap: $var-step * 2;
}