.text_size_es {
  @include fluid-font(16px, 16px);
  
  font-family: "Acrom Light", "Montserrat";
  font-weight: 300;
  
  color: $var-color-white;
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}