.badge__rating {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: $var-step;
  
  background-color: rgba(0, 5, 5, 0.5);
  
  border-radius: 20px;
}
.badge__rating > .text_size_s {
  max-height: 0;
  
  opacity: 0;
  
  transition: opacity .25s ease-in-out, max-height .25s ease-in-out;
}
@media (hover: hover) {
  .badge__rating:hover > .text_size_s {
    max-height: 100px;

    opacity: 1;
  }
}