@mixin global-transition($property) {
  transition: $property .25s ease-out;
}

@mixin global-text($font-size, $font-family) {
  @include fluid-font($font-size/2, $font-size);
  
  font-family: $font-family;
  
  color: $var-color-white;
  
  cursor: default;
}

@mixin global-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: $var-step $var-step * 2;
  
  border-radius: 5px;
  
  cursor: pointer;
}

@mixin global-game-card {
  @include fluid-height(210px, 420px);
  
  overflow: hidden;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  
  max-height: 420px;

  opacity: .75;
  box-shadow: 0.5px 0.5px 0 $var-color-white, -0.5px -0.5px 0 $var-color-white;
  border-radius: 5px;
  
  transition: opacity .25s ease-out, box-shadow .25s ease-out;
}

@mixin global-badge($background-color) {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: $var-step $var-step * 2;
  
  height: inherit;
  
  background-color: $background-color;
  border-radius: 5px;
}

  
.text_size_el {
  @include global-text(64px, "Acrom ExtraBold");
}
.text_size_l {
  @include global-text(40px, "Acrom ExtraBold");
}
.text_size_m {
  @include global-text(32px, "Acrom ExtraBold");
}
.text_size_s {
  @include global-text(20px, "Acrom Medium");
  
  font-weight: 500; // Покрывает теги h1...6
}
.text_weight_bold {
  font-family: "Acrom Bold";
}
.text_style_red {
  background: linear-gradient(90deg, #FEFCFD 0%, #CE4257 25%, #CE4257 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.text_style_blue {
  background: linear-gradient(90deg, #FEFCFD 0%, #BFCDE0 10%, #BFCDE0 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}


.text-mobile_size_s {
  //
}
/* Mobile media */
@media screen and (max-width: 47.9625em) {
  .text-mobile_size_s {
    font-size: 16px;

    font-weight: 500; // Покрывает теги h1...6
  }
}


.icon_size_m {
  @include fluid-box(16px, 32px);
}
.icon_size_s {
  @include fluid-box(8px, 16px);
}


.link {
  @include global-transition(opacity);
  
  opacity: .75;
  
  cursor: pointer;
}
@media (hover: hover) {
  .link:hover {
    opacity: 1;
  }
}
.link:active {
  opacity: .75;
}


.button {
  @include global-button;
  @include global-transition(background-color);
  
  background-color: $var-color-space-cadet;
}
@media (hover: hover) {
  .button:hover {
    background-color: $var-color-ultra-violet;
  }
}
.button:active {
  background-color: $var-color-space-cadet;
}
.button_theme_transparent {
  @include global-button;
  @include global-transition(box-shadow);
  
  box-shadow: 0.5px 0.5px 0 $var-color-white, -0.5px -0.5px 0 $var-color-white;
}
@media (hover: hover) {
  .button_theme_transparent:hover {
    box-shadow: 1px 1px 0 $var-color-columbia-blue, -1px -1px 0 $var-color-columbia-blue;
  }
}
.button_theme_transparent:active {
  box-shadow: 0.5px 0.5px 0 $var-color-white, -0.5px -0.5px 0 $var-color-white;
}
.button_theme_icon {
  @include global-button;
  @include global-transition(filter);
  
  filter: contrast(0.5);
}
.button_theme_icon:active {
  filter: contrast(2);
}


.list__link {
  //
}

.list__action {
  //
}

.list__tablet {
  @include global-transition(transform);
  
  position: fixed;
  top: 0;
  right: 0;
  
  transform: translateX(100%);
  
  background-color: $var-color-black;
  
  z-index: $var-z-index-side-bar;
}
.list__tablet_open {
  transform: translateX(0);
}
.list__tablet_close {
  transform: translateX(100%);
}

.list__inner {
  display: flex;
  align-items: center;
  gap: $var-step * 2;
}
.list__inner_direction_column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: $var-step * 2 $var-step * 2 $var-step * 10;
  
  min-height: 100vh;
}

.list__group {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $var-step;
  
  width: 100%;
}

.list__item {
  //
}
.list__item_media_tablet {
  display: none;
}
@media (max-width: 730px) {
  .list__item {
    display: none;
  }
  .list__item_media_tablet {
    display: list-item;
  }
}
.list__item_tablet {
  //
}


.menu {
  position: relative;
  
  background-color: $var-color-black;
  
  z-index: $var-z-index-normal-2;
}

.menu__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $var-step * 2;
}

.menu__list {
  display: flex;
  align-items: flex-start;
}

.menu__item {
  //
}


.input-search {
  @include fluid-width(200px, 700px);
  
  display: flex;
  align-items: center;

  background: rgba(0, 5, 5, 0.5);
  box-shadow: -0.5px 0px 0 $var-color-white, 0.5px 0px 0 $var-color-white, 0px -0.5px 0 $var-color-white, 0px 0.5px 0.5px $var-color-white;
  backdrop-filter: blur(25px);
  border-radius: 5px;
}

.input-search__input {
  width: 100%;
  
  cursor: text;
}


.game-card {
  @include global-game-card;
  
  justify-content: flex-end;
}
@media (max-width: 730px) {
  .game-card {
    min-height: 305px;
    max-height: 305px;
  }
}
@media screen and (max-width: 47.9625em) {
  .game-card {
    opacity: 1;
  }
}
@media (hover: hover) {
  .game-card:hover {
    opacity: 1;
    box-shadow: 1px 1px 0 $var-color-columbia-blue, -1px -1px 0 $var-color-columbia-blue;
  }
}
.game-card:active {
  opacity: .75;
}

.game-card__badges {
  @include fluid-height(16px, 32px);
  
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  padding: $var-step;
  gap: $var-step * 2;
  
  width: 100%;
}

.game-card__info {
  @include global-transition(top);
  
  position: relative;
  top: 70%;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: $var-step;
  gap: $var-step * 2;
  
  width: 100%;
  
  background: rgba(0, 5, 5, 0.2);
  backdrop-filter: blur(100px);
}
@media (hover: hover) {
  .game-card__info:hover {
    top: 0;
  }
}
@media screen and (max-width: 47.9625em) {
  .game-card__info {
    top: 65%;
  }
}

.game-card__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  width: 100%;
}

.game-card__name {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}

.game-card__description {
  display: -webkit-box;
  -webkit-line-clamp: 9;
  -webkit-box-orient: vertical;  
  overflow: hidden;
  
  font-family: "Acrom Light";
}


.badge__discount {
  @include global-badge($var-color-amaranth);
}

.badge__rating {
  @include global-badge(rgba(0, 5, 5, 0.5));
  
  padding: $var-step;
  margin-left: auto;
}


.unit__recommended {
  position: relative;
  
  z-index: $var-z-index-normal-1;
}

.unit__header {
  display: flex;
  align-items: center;
  padding: $var-step * 6 $var-step * 4;
  padding-bottom: 0;
  gap: $var-step;
}

.unit__inner {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 330px));
  grid-gap: $var-step * 2;
  justify-content: center;
  padding: $var-step * 2;
}
.unit__inner_direction_column {
  display: flex;
  flex-direction: column;
  padding: $var-step * 2 $var-step * 4;
  gap: $var-step * 2;
}

.unit__question {
  padding: $var-step $var-step * 2;
  
  width: 100%;
  
  background-color: $var-color-space-cadet;
  border-radius: 5px;
}

.unit__answer {
  padding: $var-step * 2 $var-step * 4;
  
  font-family: "Acrom Light";
}