.marquee {
  position: relative;
  
  display: flex;
  align-items: center;
  margin-top: $var-step * 8;
  padding: 0 $var-step;
  visibility: hidden;
  
  background-color: $var-color-amaranth;
  
  z-index: $var-z-index-normal-1;
}