@media screen and (max-width: 63.9625em) and (hover: none) {
  .game-card_pre-pull {
    box-shadow: 1px 1px 0 $var-color-columbia-blue, -1px -1px 0 $var-color-columbia-blue;
  }
  .game-card_pre-pull > .game-card__inner > .game-card__info > .game-card__column > .hidden {
    opacity: 0;

    max-height: 1px;
  }
  .game-card_pre-pull > .game-card__inner > .game-card__badges {
    display: none;
  }
  .game-card_pre-pull::before {
    background-color: rgba(0, 0, 0, 0.25);
  }
}