.button_theme_transparent {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: $var-step $var-step * 2;
  
  box-shadow: 0.5px 0.5px 0 $var-color-white, -0.5px -0.5px 0 $var-color-white;
  border-radius: 5px;
  
  transition: box-shadow .25s ease-in-out;
}
@media (hover: hover) {
  .button_theme_transparent:hover {
    box-shadow: 1px 1px 0 $var-color-columbia-blue, -1px -1px 0 $var-color-columbia-blue;
  }
}
.button_theme_transparent:active {
  box-shadow: 0.5px 0.5px 0 $var-color-white, -0.5px -0.5px 0 $var-color-white;
}