.faq__answer {
  padding: $var-step * 2;
  
  font-family: "Acrom Regular", "Montserrat";
  font-weight: 400;
  
  user-drag: auto;
  -webkit-user-drag: auto;
  user-select: auto;
  -moz-user-select: auto;
  -webkit-user-select: auto;
  -ms-user-select: auto;
}