.text_style_blue {
  background: linear-gradient(90deg, $var-color-white 0%, $var-color-columbia-blue 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}